@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #005bb5;
}

